.card {
  background-color: pink;
  width: 100%;
  height: calc(100vh);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  overflow-y: auto;
  justify-content: center;
  padding: 10px;
  min-width: 590px;
  &_container {
    max-width: 100%;
  }
}
