.container {
  height: 100vh;
  //   display: flex;
  //   flex-direction: column;

  background-color: #e0e0e0;
  color: #626161;
  transition: background-color 0.3s ease, color 0.3s ease;

  // 다크 모드 스타일
  &.dark {
    background-color: rgb(140, 140, 140);
    color: #f5f5f5;
  }
}
